[submodule "inputs/studyforrest-data-templatetransforms"]
	path = inputs/studyforrest-data-templatetransforms
	url = https://github.com/psychoinformatics-de/studyforrest-data-templatetransforms.git
	datalad-id = ceb007ac-ef05-4392-98d2-35c02a774a21
[submodule "inputs/studyforrest-data-phase2"]
	path = inputs/studyforrest-data-phase2
	url = https://github.com/psychoinformatics-de/studyforrest-data-phase2.git
	datalad-id = 5eaff716-54eb-11e8-803d-a0369f7c647e
[submodule "analysis_1"]
	path = analysis_1
	url = ./analysis_1
	datalad-id = f2869284-144b-4442-9484-b50ed8ff7ba5
